In [4]:
import pandas as pd
from pandas.plotting import register_matplotlib_converters

register_matplotlib_converters()
data = pd.read_csv('../../data/algae.csv', index_col='date', sep=',', decimal='.', parse_dates=True, infer_datetime_format=True)
data.head()

,pH,Oxygen,Chloride,Nitrates,Ammonium,Orthophosphate,Phosphate,Chlorophyll,fluid_velocity,river_depth,season
date,,,,,,,,,,,
2018-09-30,8.10,11.4,40.02,5.33,346.67,125.67,187.06,15.6,medium,low,autumn
2018-10-05,8.06,9.0,55.35,10.42,233.70,58.22,97.58,10.5,medium,low,autumn
2018-10-07,8.05,10.6,59.07,4.99,205.67,44.67,77.43,6.9,high,low,autumn
2018-10-09,7.55,11.5,4.70,1.32,14.75,4.25,98.25,1.1,high,low,autumn
2018-10-11,7.75,10.3,32.92,2.94,42.00,16.00,40.00,7.6,high,low,autumn