In [1]:
import pandas as pd
from pandas.plotting import register_matplotlib_converters
%matplotlib inline

In [2]:
register_matplotlib_converters()
data = pd.read_csv('../../data/algae.csv', index_col='date', sep=',', decimal='.', parse_dates=True, infer_datetime_format=True)

In [3]:
data.describe()

,pH,Oxygen,Chloride,Nitrates,Ammonium,Orthophosphate,Phosphate,Chlorophyll
count,199.000000,198.000000,190.000000,198.000000,198.000000,198.000000,198.000000,188.000000
mean,8.011759,9.117778,43.636842,3.282828,154.447475,83.325909,111.550808,13.541011
std,0.598302,2.391253,46.830993,3.776458,180.011207,116.783165,102.214088,20.448323
min,5.600000,1.500000,0.220000,0.050000,5.000000,1.000000,0.900000,0.000000
25%,7.700000,7.725000,10.985000,1.297500,35.625000,16.000000,19.395000,2.000000
50%,8.060000,9.800000,32.730000,2.675000,99.665000,41.400000,84.500000,5.200000
75%,8.400000,10.800000,57.825000,4.447500,203.730000,102.247500,182.160000,18.300000
max,9.700000,13.400000,391.500000,45.650000,931.830000,771.600000,558.750000,110.460000

In [4]:
col = data['pH'] 
col

date
2018-09-30    8.10
2018-10-05    8.06
2018-10-07    8.05
2018-10-09    7.55
2018-10-11    7.75
2018-10-13    6.80
2018-10-15    7.40
2018-10-17    8.40
2018-10-19    8.00
2018-10-21    7.29
2018-10-23    5.70
2018-10-25    6.60
2018-10-27    7.83
2018-10-29    8.50
2018-10-31    8.10
2018-11-02    7.30
2018-11-04    7.50
2018-11-06    8.50
2018-11-08    7.60
2018-11-10    8.30
2018-11-12    8.30
2018-11-14    8.00
2018-11-16    8.10
2018-11-18    7.90
2018-11-20    7.80
2018-11-22    8.30
2018-11-24    8.87
2018-11-26    7.30
2018-11-28    7.80
2018-11-30    8.40
              ...
2019-07-21    7.40
2019-07-23    7.40
2019-07-25    7.60
2019-07-27    8.10
2019-07-29    7.90
2019-07-31    7.80
2019-08-02    7.50
2019-08-04    7.70
2019-08-06    8.16
2019-08-08    8.50
2019-08-10    8.00
2019-08-12    8.60
2019-08-14    8.20
2019-08-16    8.10
2019-08-18    8.60
2019-08-20    8.30
2019-08-22    7.30
2019-08-24    8.10
2019-08-26    8.10
2019-08-28    7.70
2019-08-30    7.60
2019-09-01    8.80
2019-09-03    7.91
2019-09-05    8.40
2019-09-07    8.20
2019-09-09    8.30
2019-09-11    8.10
2019-09-13    8.40
2019-09-15    8.50
2019-09-17    8.50
Name: pH, Length: 200, dtype: float64